<footer class="bg-dark text-light py-5 mt-auto">
  <div class="container text-center">
    <div class="row">
      <div class="col-12">
        <h5 class="fw-bold">Fernando Sanchez Gutierrez</h5>
        <p class="text-muted"><%= t('footer.subtitle') %></p>

        <p class="small mt-4 mb-0">
          &copy; <%= new Date().getFullYear() %> Fernando Sanchez Gutierrez. <%= t('footer.rights') %>
        </p>

      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</footer>