<!DOCTYPE html>
<html lang="en">
  <%- include('shared/metaData', { title: "About Me" }) %>

  <body class="d-flex flex-column min-vh-100">
    <%- include('shared/header') %>

    <main class="flex-grow-1">
      <section class="py-5 text-center">
        <div class="container">
          <h1 class="display-4">About Me</h1>
          <p class="lead mt-3">
            Building solutions with <strong>Express.js</strong>,
            <strong>Flutter</strong>, and <strong>ASP.NET Core MVC</strong>.
            Passionate about technology, social impact, and making a difference.
          </p>
        </div>
      </section>

      <section class="py-5 bg-light mb-5">
        <div class="container">
          <div class="row align-items-center g-md-5">
            <div class="col-lg-4 text-center text-lg-start mb-4 mb-lg-0">
              <img
                src="/images/profile.jpg"
                alt="Profile picture of Fernando Sánchez Gutierrez"
                class="img-fluid rounded-circle shadow"
                style="max-width: 250px; width: 100%"
              />
            </div>
            <div class="col-lg-8">
              <h2 class="fw-bold">
                Hey, I'm Fernando Sánchez Gutierrez <span class="wave">👋</span>
              </h2>
              <p class="lead">
                I'm a **mechatronics engineer** and **software developer** with
                a passion for building cool projects, whether it's in
                **robotics, software development, IoT, or aquaponics farming**.
              </p>
              <p>
                I thrive on challenges and am continuously expanding my
                knowledge. With a background in **mechatronics engineering,
                software engineering, and networking,** I enjoy working on tech
                that pushes the boundaries of what’s possible.
              </p>
              <p>
                I also have a strong interest in self-improvement, psychology,
                and leveraging technology for human well-being. My long-term
                vision includes working on AI, software, and robotics projects
                that can make a positive impact in the world.
              </p>
              <p>
                When I'm not coding or building, you’ll likely find me
                **practicing martial arts** or researching innovative solutions
                to improve our everyday lives.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('shared/footer') %>
  </body>
</html>
